<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <jmxConfigurator /> 
	
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <layout class="ch.qos.logback.classic.PatternLayout">      
      <pattern>[%date{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] [%5level] [%logger\(%method\):%line] - %msg%n</pattern>
    </layout>
    <target>System.out</target>
    <immediateFlush>false</immediateFlush>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>excel2pdf.log</file>
    <Append>false</Append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%date{dd-MM-yyyy HH:mm:ss.SSS}] [%thread] [%5level] [%logger\(%method\):%line] - %msg%n</Pattern>
    </layout>
  </appender>
  
   <appender name="FILE_PLANOVAC" class="ch.qos.logback.core.FileAppender">
    <file>P:/logging/log/test-planovac.log</file>
    <append>false</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date %level [%26file : %4line] %msg%n</Pattern>
    </layout>
  </appender>

  <root>
    <level value="warn" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
  
  <logger name="cz.oksystem.centrum.planovac">
    <level value="trace"/>
    <appender-ref ref="FILE_PLANOVAC" />
  </logger>
  
   <logger name="cz.oksystem.lib.frex.hibernate.statistics" level="WARN" />
   
   <logger name="org.springframework.transaction.interceptor.TransactionAspectSupport" level="warn" />


  <logger name=" cz.oksystem.lib.frex.spring.util.LoggingPropertyPlaceholderConfigurer">
    <level value="warn"/>
  </logger>
  <logger name="org.hibernate">
    <level value="warn"/>
  </logger>
  <logger name="cz.oksystem.centrum.core">
    <level value="warn"/>
  </logger>
  <logger name="net.sf.ehcache">
    <level value="warn"/>
  </logger>
  <logger name="org.springframework">
    <level value="warn"/>
  </logger>
  <logger name="cz.oksystem.lib.validation">
    <level value="warn"/>
  </logger>
  <logger name="cz.oksystem.lib.i18n">
    <level value="warn"/>
  </logger>
  <logger name="cz.oksystem.rcp">
    <level value="warn"/>
  </logger>

  <logger name="org.hibernate.SQL">
    <level value="warn"/>
  </logger>

</configuration>
